<div class="flex flex-col gap-2">

  <p-card class="absolute z-10 m-4 w-96">
    <ng-template #title>
      <div class="flex flex-row items-center w-full h-12 gap-2 mb-2">
        <img alt="mappy logo" src="/img/mappy.webp" class="h-full">
        <h1 class="text-2xl text-primary-500">Trippy</h1>
      </div>
    </ng-template>

    @for (stop of stops(); track $index) {
      <app-route-planner-text-input
        [index]="$index"
        [count]="stops().length"
        [(value)]="stop.searchQuery"
        (valueChange)="updateStop.emit({index: $index, value: $event})"
        (removeStop)="removeStop.emit({index: $index})" />

      <app-route-planner-add-stop-bar
        [index]="$index"
        [count]="stops().length"

        (addStop)="addStop.emit({index: $index + 1})" />
    }

    <ng-template #footer>
      <p-button (click)="planRoute.emit()" label="Plan trip" fluid />
    </ng-template>
  </p-card>
</div>
